<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="cardBox" options="{group:'Materializecss',Fluidcontent: {sorting:52},icon:'EXT:t3content_materializecss/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_cardBox.xlf">

        <flux:form.sheet name="textSheet" label="Card Content" variables="{_all}">
	        <flux:field.file name="image" allowed="jpg,png,svg" showThumbnails="1" label="Image" />
	        <flux:field.input name="headline" label="Headline" />
			<flux:field.checkbox name="settings.reveal"
				label="Card Reveal Content"
				default="0"
				required=""
				requestUpdate="0" />
	        <flux:field.text name="text" rows="5" cols="30" enableRichText="TRUE" label="Text" />
    	</flux:form.sheet>
        <flux:form.sheet name="buttonsSheet" label="Buttons" variables="{_all}">
            <flux:form.section name="settings.buttons" label="Buttons">
                <flux:form.object name="default" label="Default Button">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
                <flux:form.object name="alternate1" label="Alternate 1">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
            </flux:form.section>
            <flux:field.select name="settings.btnAlign"
                             label="Buttons Align"
                             default="text-align:center;"
                             items="{
                                 0:{0:'Auto',1:'text-align:auto;'},
                                 1:{0:'Left',1:'text-align:left;'},
                                 2:{0:'Center',1:'text-align:center;'},
                                 3:{0:'Right',1:'text-align:right;'}
                              }"/>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
CardBox
<hr/>
	<div class="card">
		<div class="card-image">
			<f:if condition="{image}">
				<img class="card-img-top" src="{f:uri.image(src:image,treatIdAsReference:'1',width:600)}" alt="{image.alternative}" />
			</f:if>
			<f:if condition="{headline}">
				<span class="card-title">{headline}</span>
			</f:if>
		</div>
		<f:if condition="{settings.reveal}">
			<f:then></f:then>
			<f:else>
				<div class="card-content">
					{text->f:format.html()}
				</div>
			</f:else>
		</f:if>
		<f:if condition="{settings.reveal}">
				<div class="card-content">
					<span class="card-title activator">{headline}<i class="material-icons right">more_vert</i></span>
				</div>
			<div class="card-reveal">
				<span class="card-title activator">{headline}<i class="material-icons right">close</i></span>
				{text->f:format.html()}
			</div>
		</f:if>
		<div class="card-action" style="{settings.btnAlign}">
			<f:if condition="{settings.buttons}">
				<f:for each="{settings.buttons}" as="obj" key="id">
				    <f:if condition="{obj.default}">
				    	<a href="{f:uri.typolink(parameter:obj.default.btnLink)}"><span class="btn teal" style="margin-bottom:6px;">{obj.default.btnText}</span></a>
				    </f:if>
				    <f:if condition="{obj.alternate1}">
				    	<a href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}"><span class="btn green" style="margin-bottom:6px;">{obj.alternate1.btnText}</span></a>
				    </f:if>
				</f:for>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="Main">
	<div class="card">
		<div class="card-image">
			<f:if condition="{image}">
				<img class="card-img-top" src="{f:uri.image(src:image,treatIdAsReference:'1',width:600)}" alt="{image.alternative}" />
			</f:if>
			<f:if condition="{headline}">
				<f:if condition="{settings.reveal} != 1">
					<span class="card-title">{headline}</span>
				</f:if>
			</f:if>
		</div>
		<f:if condition="{settings.reveal}">
			<f:then></f:then>
			<f:else>
				<div class="card-content">
					{text->f:format.html()}
				</div>
			</f:else>
		</f:if>
		<f:if condition="{settings.reveal}">
				<div class="card-content">
					<span class="card-title activator">{headline}<i class="material-icons right">more_vert</i></span>
				</div>
			<div class="card-reveal">
				<span class="card-title activator">{headline}<i class="material-icons right">close</i></span>
				{text->f:format.html()}
			</div>
		</f:if>
		<div class="card-action" style="{settings.btnAlign}">
			<f:if condition="{settings.buttons}">
				<f:for each="{settings.buttons}" as="obj" key="id">
				    <f:if condition="{obj.default}">
				    	<a href="{f:uri.typolink(parameter:obj.default.btnLink)}"><span class="btn teal" style="margin-bottom:6px;">{obj.default.btnText}</span></a>
				    </f:if>
				    <f:if condition="{obj.alternate1}">
				    	<a href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}"><span class="btn green" style="margin-bottom:6px;">{obj.alternate1.btnText}</span></a>
				    </f:if>
				</f:for>
			</f:if>
		</div>
	</div>
</f:section>

</div>