<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="gridThreeColMaterialize" label="Materialize 3 Columns Grid" options="{group: 'Materializecss',Fluidcontent: {sorting:3},icon:'EXT:t3content_materializecss/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_gridelements.xlf">
        <flux:form.sheet name="columnsSheet" label="Columns" variables="{_all}">
			<flux:field.checkbox name="settings.advancedWidth"
								 label="Advanced Settings"
								 default="NULL"
								 required=""
								 requestUpdate="1" />
			<flux:field.select name="settings.col1widthSm"
							   label="Column 1 Width (>= small)"
							   default="col s4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col s1'},
								2:{0:'2 / 12',1:'col s2'},
								3:{0:'3 / 12 (25%)',1:'col s3'},
								4:{0:'4 / 12 (33.33%)',1:'col s4'},
								5:{0:'5 / 12',1:'col s5'},
								6:{0:'6 / 12 (50%)',1:'col s6'},
								7:{0:'7 / 12',1:'col s7'},
								8:{0:'8 / 12 (66.66%)',1:'col s8'},
								9:{0:'9 / 12 (75%)',1:'col s9'},
								10:{0:'10 / 12',1:'col s10'},
								11:{0:'11 / 12',1:'col s11'},
								12:{0:'12 / 12 (100%)',1:'col s12'}
							   }"/>
			<flux:field.select name="settings.col2widthSm"
							   label="Column 2 Width (>= small)"
							   default="col s4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col s1'},
								2:{0:'2 / 12',1:'col s2'},
								3:{0:'3 / 12 (25%)',1:'col s3'},
								4:{0:'4 / 12 (33.33%)',1:'col s4'},
								5:{0:'5 / 12',1:'col s5'},
								6:{0:'6 / 12 (50%)',1:'col s6'},
								7:{0:'7 / 12',1:'col s7'},
								8:{0:'8 / 12 (66.66%)',1:'col s8'},
								9:{0:'9 / 12 (75%)',1:'col s9'},
								10:{0:'10 / 12',1:'col s10'},
								11:{0:'11 / 12',1:'col s11'},
								12:{0:'12 / 12 (100%',1:'col s12'}
							   }"/>
			<flux:field.select name="settings.col3widthSm"
							   label="Column 3 Width (>= small)"
							   default="col s4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col s1'},
								2:{0:'2 / 12',1:'col s2'},
								3:{0:'3 / 12 (25%)',1:'col s3'},
								4:{0:'4 / 12 (33.33%)',1:'col s4'},
								5:{0:'5 / 12',1:'col s5'},
								6:{0:'6 / 12 (50%)',1:'col s6'},
								7:{0:'7 / 12',1:'col s7'},
								8:{0:'8 / 12 (66.66%)',1:'col s8'},
								9:{0:'9 / 12 (75%)',1:'col s9'},
								10:{0:'10 / 12',1:'col s10'},
								11:{0:'11 / 12',1:'col s11'},
								12:{0:'12 / 12 (100%',1:'col s12'}
							   }"/>

			<flux:field.select name="settings.col1widthMd"
							   label="Column 1 Width (>= medium)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col m4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col m1'},
								2:{0:'2 / 12',1:'col m2'},
								3:{0:'3 / 12 (25%)',1:'col m3'},
								4:{0:'4 / 12 (33.33%)',1:'col m4'},
								5:{0:'5 / 12',1:'col m5'},
								6:{0:'6 / 12 (50%)',1:'col m6'},
								7:{0:'7 / 12',1:'col m7'},
								8:{0:'8 / 12 (66.66%)',1:'col m8'},
								9:{0:'9 / 12 (75%)',1:'col m9'},
								10:{0:'10 / 12',1:'col m10'},
								11:{0:'11 / 12',1:'col m11'},
								12:{0:'12 / 12 (100%)',1:'col m12'}
							   }"/>
			<flux:field.select name="settings.col2widthMd"
							   label="Column 2 Width (>= medium)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col m4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col m1'},
								2:{0:'2 / 12',1:'col m2'},
								3:{0:'3 / 12 (25%)',1:'col m3'},
								4:{0:'4 / 12 (33.33%)',1:'col m4'},
								5:{0:'5 / 12',1:'col m5'},
								6:{0:'6 / 12 (50%)',1:'col m6'},
								7:{0:'7 / 12',1:'col m7'},
								8:{0:'8 / 12 (66.66%)',1:'col m8'},
								9:{0:'9 / 12 (75%)',1:'col m9'},
								10:{0:'10 / 12',1:'col m10'},
								11:{0:'11 / 12',1:'col m11'},
								12:{0:'12 / 12 (100%',1:'col m12'}
							   }"/>
			<flux:field.select name="settings.col3widthMd"
							   label="Column 3 Width (>= medium)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col m4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col m1'},
								2:{0:'2 / 12',1:'col m2'},
								3:{0:'3 / 12 (25%)',1:'col m3'},
								4:{0:'4 / 12 (33.33%)',1:'col m4'},
								5:{0:'5 / 12',1:'col m5'},
								6:{0:'6 / 12 (50%)',1:'col m6'},
								7:{0:'7 / 12',1:'col m7'},
								8:{0:'8 / 12 (66.66%)',1:'col m8'},
								9:{0:'9 / 12 (75%)',1:'col m9'},
								10:{0:'10 / 12',1:'col m10'},
								11:{0:'11 / 12',1:'col m11'},
								12:{0:'12 / 12 (100%',1:'col m12'}
							   }"/>

			<flux:field.select name="settings.col1widthLg"
							   label="Column 1 Width (>= large)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col l4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col l1'},
								2:{0:'2 / 12',1:'col l2'},
								3:{0:'3 / 12 (25%)',1:'col l3'},
								4:{0:'4 / 12 (33.33%)',1:'col l4'},
								5:{0:'5 / 12',1:'col l5'},
								6:{0:'6 / 12 (50%)',1:'col l6'},
								7:{0:'7 / 12',1:'col l7'},
								8:{0:'8 / 12 (66.66%)',1:'col l8'},
								9:{0:'9 / 12 (75%)',1:'col l9'},
								10:{0:'10 / 12',1:'col l10'},
								11:{0:'11 / 12',1:'col l11'},
								12:{0:'12 / 12 (100%)',1:'col l12'}
							   }"/>
			<flux:field.select name="settings.col2widthLg"
							   label="Column 2 Width (>= large)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col l4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col l1'},
								2:{0:'2 / 12',1:'col l2'},
								3:{0:'3 / 12 (25%)',1:'col l3'},
								4:{0:'4 / 12 (33.33%)',1:'col l4'},
								5:{0:'5 / 12',1:'col l5'},
								6:{0:'6 / 12 (50%)',1:'col l6'},
								7:{0:'7 / 12',1:'col l7'},
								8:{0:'8 / 12 (66.66%)',1:'col l8'},
								9:{0:'9 / 12 (75%)',1:'col l9'},
								10:{0:'10 / 12',1:'col l10'},
								11:{0:'11 / 12',1:'col l11'},
								12:{0:'12 / 12 (100%',1:'col l12'}
							   }"/>
			<flux:field.select name="settings.col3widthLg"
							   label="Column 3 Width (>= large)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col l4"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col l1'},
								2:{0:'2 / 12',1:'col l2'},
								3:{0:'3 / 12 (25%)',1:'col l3'},
								4:{0:'4 / 12 (33.33%)',1:'col l4'},
								5:{0:'5 / 12',1:'col l5'},
								6:{0:'6 / 12 (50%)',1:'col l6'},
								7:{0:'7 / 12',1:'col l7'},
								8:{0:'8 / 12 (66.66%)',1:'col l8'},
								9:{0:'9 / 12 (75%)',1:'col l9'},
								10:{0:'10 / 12',1:'col l10'},
								11:{0:'11 / 12',1:'col l11'},
								12:{0:'12 / 12 (100%',1:'col l12'}
							   }"/>
    	</flux:form.sheet>
        <flux:form.sheet name="cssClassesSheet" label="Extra Css Classes" variables="{_all}">
	        <flux:field.input name="settings.rowClass" label="Row classes" />
	        <flux:field.input name="settings.col1Class" label="Column 1 classes" />
	        <flux:field.input name="settings.col2Class" label="Column 2 classes" />
	        <flux:field.input name="settings.col3Class" label="Column 3 classes" />
    	</flux:form.sheet>
	    <flux:grid>
	        <flux:grid.row>
	            <flux:grid.column colspan="4" name="left" colPos="410" />
	            <flux:grid.column colspan="4" name="middle" colPos="420" />
	            <flux:grid.column colspan="4" name="right" colPos="430" />
	        </flux:grid.row>
	    </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
3 Columns Materialize
<hr/>

</f:section>

<f:section name="Main">
    <div class="row">
	    <div class="{settings.col1widthSm} {settings.col1widthMd} {settings.col1widthLg} {settings.col1Class}">
	    	<flux:content.render area="left" />
	    </div>
	    <div class="{settings.col2widthSm} {settings.col2widthMd} {settings.col2widthLg} {settings.col2Class}">
	    	<flux:content.render area="middle" />
	    </div>
	    <div class="{settings.col3widthSm} {settings.col3widthMd} {settings.col3widthLg} {settings.col3Class}">
	    	<flux:content.render area="right" />
	    </div>
    </div>
</f:section>

</div>