<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="iconBlock" label="Icon Block" options="{group:'Materializecss',Fluidcontent: {sorting:40},icon:'EXT:t3content_materializecss/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_iconBlock.xlf">
        <flux:form.sheet name="iconBlockSheet" label="General" variables="{_all}">
            <flux:field.input name="settings.icon" label="Material Icon (e.g. 3d_rotation, ac_unit, access_alarm, access_alarms ...) (Find more on: http://materializecss.com/icons.html)" default="flash_on" />
          <flux:field.select name="settings.iconColor"
                           label="Icon Color"
                           default=""
                           items="{
                               0:{0:'',1:''},
                               1:{0:'pink',1:'pink'},
                               2:{0:'purple',1:'purple'},
                               3:{0:'deep-purple',1:'deep-purple'},
                               4:{0:'indigo',1:'indigo'},
                               5:{0:'blue',1:'blue'},
                               6:{0:'light-blue',1:'light-blue'},
                               7:{0:'cyan',1:'cyan'},
                               8:{0:'teal',1:'teal'},
                               9:{0:'green',1:'green'},
                               10:{0:'light-green',1:'light-green'},
                               11:{0:'lime',1:'lime'},
                               12:{0:'yellow',1:'yellow'},
                               13:{0:'amber',1:'amber'},
                               14:{0:'orange',1:'orange'},
                               15:{0:'deep-orange',1:'deep-orange'},
                               16:{0:'grey',1:'grey'},
                               17:{0:'blue-grey',1:'blue-grey'},
                               18:{0:'red',1:'red'},
                               19:{0:'black',1:'black'},
                               20:{0:'white',1:'white'},
                               21:{0:'brown',1:'brown'}
                            }"/>
            <flux:field.text
                        name="settings.richtext"
                        required="1"
                        rows="5"
                        cols="30"
                        enableRichText="TRUE" />
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
Icon Block
<hr/>
<div class="icon-block center">
  <h2 class="center {settings.iconColor}-text"><i class="material-icons">{settings.icon}</i></h2>
  {settings.richtext->f:format.raw()}
</div>
</f:section>

<f:section name="Main">
    <div class="icon-block center">
      <h2 class="center {settings.iconColor}-text"><i class="material-icons">{settings.icon}</i></h2>
      {settings.richtext->f:format.raw()}
    </div>
</f:section>

</div>

