<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="parallaxElement" label="Parallax Element" options="{group:'Materializecss',Fluidcontent: {sorting:45},icon:'EXT:t3content_materializecss/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_parallaxElement.xlf">
        <flux:form.sheet name="parallaxElementSheet" label="General" variables="{_all}">
          <flux:field.checkbox name="settings.useValignCenter"
                     label="Auto valign center content"
                     default="1"
                     required=""
                     requestUpdate="0" />
          <flux:field.input name="settings.headline" label="Headline" />
          <flux:field.text
                      name="settings.text"
                      label="Text"
                      required="0"
                      rows="3"
                      cols="42"
                      enableRichText="FALSE" />
          <flux:field.file name="settings.image" allowed="jpg,png,svg" showThumbnails="1" label="Parallax Background Image" minItems="0" maxItems="1" />
        </flux:form.sheet>
        <flux:form.sheet name="ctaSheet" label="Call To Action" variables="{_all}">
          <flux:field.input name="settings.buttonText" label="CTA Button Text" />
          <flux:field.input name="settings.buttonLink" label="CTA Button Link">
              <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
          </flux:field.input>
          <flux:field.select name="settings.buttonColor"
                           label="CTA Button Color"
                           default="teal"
                           items="{
                               0:{0:'',1:''},
                               1:{0:'pink',1:'pink'},
                               2:{0:'purple',1:'purple'},
                               3:{0:'deep-purple',1:'deep-purple'},
                               4:{0:'indigo',1:'indigo'},
                               5:{0:'blue',1:'blue'},
                               6:{0:'light-blue',1:'light-blue'},
                               7:{0:'cyan',1:'cyan'},
                               8:{0:'teal',1:'teal'},
                               9:{0:'green',1:'green'},
                               10:{0:'light-green',1:'light-green'},
                               11:{0:'lime',1:'lime'},
                               12:{0:'yellow',1:'yellow'},
                               13:{0:'amber',1:'amber'},
                               14:{0:'orange',1:'orange'},
                               15:{0:'deep-orange',1:'deep-orange'},
                               16:{0:'grey',1:'grey'},
                               17:{0:'blue-grey',1:'blue-grey'},
                               18:{0:'red',1:'red'},
                               19:{0:'black',1:'black'},
                               20:{0:'white',1:'white'}
                            }"/>

        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
Parallax Element
<hr/>
<div class="parallax-container text-center center {f:if(condition:settings.useValignCenter,then:'valign-wrapper',else:'')}" style="min-height:220px;background-image:url({f:uri.image(src:settings.image,treatIdAsReference:0)});background-size:cover;color:rgba(255,255,255,.9);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;">
  <div class="section no-pad-bot" style="width:100%;">
    <div class="center">
      <f:if condition="{settings.headline}">
        <h2 class="header">{settings.headline}</h2>
      </f:if>
      <f:if condition="{settings.text}">
          <div class="row"><h5 class="header col s12 light">{settings.text->f:format.nl2br()}</h5></div>
      </f:if>
      <f:if condition="{settings.buttonText}">
        <div class="row">
          <a href="{buttonLink}" class="btn btn-default btn-lg waves-effect waves-light {settings.buttonColor}">{settings.buttonText}</a>
        </div>
      </f:if>
    </div>
  </div>
</div>
</f:section>

<f:section name="Main">
<div class="parallax-container {f:if(condition:settings.useValignCenter,then:'valign-wrapper',else:'')}">
  <div class="section no-pad-bot">
    <div class="container center">
      <f:if condition="{settings.headline}">
        <h2 class="header">{settings.headline}</h2>
      </f:if>
      <f:if condition="{settings.text}">
          <div class="row"><h5 class="header col s12 light">{settings.text->f:format.nl2br()}</h5></div>
      </f:if>
      <f:if condition="{settings.buttonText}">
        <div class="row">
          <a href="{buttonLink}" class="btn-large waves-effect waves-light {settings.buttonColor}">{settings.buttonText}</a>
        </div>
      </f:if>
    </div>
  </div>
  <div class="parallax">
    <f:if condition="{settings.image}">
      <img src="{f:uri.image(src:settings.image,treatIdAsReference:0)}" alt="bg"/>
    </f:if>
  </div>
</div>
</f:section>

</div>

